.container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 40vh;
    margin: auto;
    background-color: gray;
}
.item {
    width: 25vw;
    transition: all 1s;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item:hover {
    width: 30vw;
}