body {
    background-color: #555555;
}
.container {
    width: 100%;
}
.list_image {
    width: fit-content;
    margin: 8vw auto;
    position: relative;
    
}
.li-img-item {
    width: 30vw;
    height: 30vw;
    display: inline-block;
    margin: 0 1vw;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}
.image {
    width: 30vw;
    height: 30vw;
    transition: all 0.2s ease-in-out;
    vertical-align: middle;
}
.li-img-item:hover img {
    transform:scale(1.3);
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    transition: all 0.7s ease-in-out;
    box-sizing: border-box;
    padding: 0px 1vw;
  }
.li-img-item:hover .overlay {
    background-color: #3a3a3a8c;
}
.li-img-item .overlay .title {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: bold;
    
}
.li-img-item:hover .title {
    color: #F7FF16;
}
.li-img-item .overlay .date  {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    padding: 0px;
}
.li-img-item .overlay .content  {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 0px;
    opacity: 0;
    transition: all 1s ease-in-out;
    padding: 0;
    margin: 0 0 -4px 0;
}
.li-img-item:hover .content {
    opacity: 1;
    height: fit-content;
}
.li-img-item .overlay .button {
    color: rgba(255, 255, 255, 0.8);
    background-color: #2e2e2ead;
    height: 0;
    width: fit-content;
    border: 1px rgba(255, 255, 255, 0.8) solid;
    bottom: 10px;
    right: 10px;
    padding: 0;
    margin: 0 0 -4px 0;
}
.li-img-item:hover .button {
    opacity: 1;
    height: fit-content;
    margin: 10px 0 10px 65%;
    padding: 5px 5px;
}