.container {
    width: 100vw;
    background-color: gray;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 5vw;
    box-sizing: border-box;
}
.title {
    width: 70vw;
    font-size: 30px;
    margin-left: -5vw;
}
.content {
    display: none;
}
.button {
    width: fit-content;
    font-weight: bold;
    color: yellow;
    background-color: black;
    padding: 10px;
}
@media screen and (min-width: 768px) {
    .button {
        border: solid 1px yellow;
        background-color: black;
        color: white;
        font-weight: 100;
    }
    .title {
        width: 70vw;
        font-size: 40px;
        margin: 0;
    }
    .content {
        width: fit-content;
        font-size: 20px;
        display: block;
    }
}