body {
    background-color: #1A1D22;
    color: #FEFEFC;
        font-family: 'Open Sans', sans-serif;

    font-family: 'Oswald', sans-serif;
}

.item_menu {
    
    display: inline-block;
    font-size: 30px;
    width: 25%;
    margin: -4px;
    text-align: center;
}
#menu {
    width: 80%;
    margin: 0px auto;
    padding: 20px;
}
#title {
    width: fit-content;
    margin: 0px auto;
    
    font-size: 15px;
    padding: 50px 0px;
}

#Img_list {
    width: 80%;
    margin: 0px auto;
    vertical-align: top;
    overflow: hidden;
}

.item_listImg {
    
    display: inline-block;
    width: 25%;
    margin: -4px;
    height: 300px;
    position: relative;
    
}
img {
    width: 100%;
}

.boxChild {
    width: 90%;
    height: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    margin: 0px auto;
    transition: all .5s;
}
#box1 {
    background-image: url("./assets/Img/1.jpg");
}
#box2 {
    background-image: url("./assets/Img/2.jpg");
}
#box3 {
    background-image: url("./assets/Img/3.jpg");
}
#box4 {
    background-image: url("./assets/Img/4.jpg");
}
.item_listImg:hover .boxChild,
.item_listImg:focus .boxChild {
  transform: scale(1.2);
}
.boxChild::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(64, 86, 97, 0.75);
  }
  
  .item_listImg:hover .boxChild:before,
  .item_listImg:focus .boxChild:before {
    display: block;
  }
  span {
    color: white;
    font-family: sans-serif;
    position: absolute;
    display: none;
    text-align: center;
  }
.item_listImg:hover span,
.item_listImg:focus span {
    width: 100%;
    padding-top: 50%;
    display: block;
    margin: auto auto;
    transform: all 1s ease-in-out;
  
}
.content_menu {
    width: fit-content;
    margin: 0px auto;
    
}
.item_menu:hover .content_menu{
    border-bottom: 2px solid #6DCBF1;
}